body{
  background-color: rgb(175, 175, 175);
}

div.header {
  background-color: #C383FF;;
  display: flex;
  flex-direction: row;
  align-items: center; 
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 

}

h1{
text-align: center;
color: rgb(5, 5, 4);
font-family: 'Times New Roman', Times, serif;
}
#loginbtn{
  background-color: #C383FF;
  margin-left: auto;
  padding:0.7em;
  font-weight: bold;
  cursor:pointer;
  margin-top: 1em;
}

#loginbtn :active{
background-color: blue;
 }

#signupbtn {
  background-color: #C383FF;
  padding:0.7em;
  font-weight: bold;
  cursor:pointer;
  margin-left: 0.4em;
  margin-right: 1em;
  margin-top: 1em;
}
#signupbtn :hover{
  background-color: blueviolet;
}

#userContainer{
  display: flex;
  height: 10em;
  width: 10em;
}


h1 {
  margin: 20px 0;
  font-size: 2.4em;
  color: #ffffff;
  text-align: center;
}

button {
  margin: 10px 0;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #C383FF;
  border: 2px black;
  border-radius: 5px;
}

button:hover {
  background-color: #9049d1;
}
#channelroomContainer {
  display: flex; 
  flex-direction: column;
  padding: 20px; 
  width: 300px; 
  background-color: #C383FF; 
  border: 1px solid #ddd; 
}

.channelsinfo {
  margin: 10px 0;
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 

}

h2{
  font-size: 1.4em;
}

